body {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
overflow-x: hidden;

}

h1 {
    font-size: 40px;
    padding: 0px 00px 5px 20px;
}

h2{
    font-size: 20px;   
    padding: 0px 00px 20px 20px;
}

label{
    display: block;
}

span{
    display: inline-block;
    text-align: right;
    width: 150px;
    padding: 0px 20px 0px 0px;
    word-break: keep-all;
    white-space:nowrap;
    margin-left: 20px;
}

.input-wide{
    width: 250px;
    }

.form_fields{
    margin: 10px;
    }
    


.full-width-colour {
    background-color:rgba(109, 107, 110, 0.4);
    /* margin: 0 -9999rem; */
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;

    }

button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px 30px;
    background-color:rgba(119,191,63,0.8);
    border: rgba(119,191,63,0.5);
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    
}

button:hover{
    background-color:rgba(119,191,63,0.6);
    font-weight: 600;
    transition: .2s ease-in-out;
}

ul {
    border: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction:row;
}

ul > li {
    list-style: none;
    border: 3px solid green;
    border-radius: 10px; 
    /* padding: 40px; */
    margin: 20px;
    flex: 20%
}
.champ_table{
    border-style: double;
    border-collapse: collapse;
    /* table-layout: auto; */
    width: 100%;
    margin: 20px 0px 30px 0px;
}





