body {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
overflow-x: hidden;

}

h1 {
    font-size: 40px;
    padding: 0px 00px 5px 20px;
}

h2{
    font-size: 20px;   
    padding: 0px 00px 20px 20px;
}

h3{
    font-size: 40px;

}

/* ................. */

form {
    display: grid;
    /* divide that grid using... */
    grid-template-columns: 200px 0.3fr;
    /* the first column will have a fixed width of 200px 
    whilst the second will take 0.3fr (“0.3 of a fraction”) 
    of the remaining available space. */
    grid-gap: 16px;

}

/* now need to define the placement for our labels and inputs. 
To do that, we will use grid-column with specific values for 
the grid lines: */

label {
    grid-column: 1 / 2;
    text-align:right;
    margin-top: 6px;
}

input{
height: 20px;
}

input,
button {
    grid-column: 2 / 3;
}

/* label, input {
    vertical-align:0cm;
} */

/* ................ */

button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px 110px;
    background-color:rgba(119,191,63,0.8);
    border: rgba(119,191,63,0.5);
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    
}

button:hover{
    background-color:rgba(119,191,63,0.6);
    font-weight: 600;
    transition: .2s ease-in-out;
}

/* ............ */

ul {
    border: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction:row;
}

ul > li {
    list-style: none;
    border: 3px solid green;
    border-radius: 10px; 
    margin: 20px;
    flex: 20%;
    padding: 0px 00px 20px 20px;
}

.restrict {
    flex: 1 0 20%;
    max-width: 20%;
     }

.champ_table{
    border-style: double;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

/* ............... */

.full-width-colour {
    background-color:rgba(109, 107, 110, 0.4);
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
    }




